.main-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;

  .cody-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    padding: 16px;

    .cody-title-container {
      display: flex;
      justify-content: space-between;

      .cody-title {
        font-weight: 700;
        font-size: 18px;
      }

      .show-all-button {
        display: flex;
        gap: 4px;
        align-items: center;

        .button-text {
          font-weight: 500;
          font-size: 16px;
          font-family: var(--font-family);
        }

        .arrow-wrapper {
          width: 20px;
          aspect-ratio: 1;
          border-radius: 90px;
          border: 1px solid var(--color-black);
          background-color: var(--color-white);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .cody-scroll {
      display: flex;
      justify-content: flex-start;
      gap: 16px;
      overflow-x: scroll;

      .cody {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .cody-image-container {
          width: 130px;
          aspect-ratio: 1;
          position: relative;

          .cody-image {
            border: 1px solid var(--color-black);
            border-radius: 10px;
            box-sizing: border-box;
          }
        }

        .cody-name {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }

    .cody-scroll::-webkit-scrollbar {
      display: none;
    }
  }

  .upload-button {
    width: 40px;
    height: 40px;
    border-radius: 90px;
    border: 1px solid var(--color-black);
    position: fixed;
    bottom: 106px;
    right: 16px;
    box-shadow: 1px 1px 0 var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-main);
  }
}

.modal-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  .delete-clothes {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .delete-button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .button-text {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
    }
  }
}

.closet-tab-container {
  position: sticky;
  padding: 16px;
  top: 0;
  box-sizing: border-box;
  z-index: var(--zIndex-above);
  background-color: var(--color-white);
}

.list-padding {
  padding: 0 16px;
}
