// scroll animation
@mixin scrollAnimation($name, $duration: 500ms, $timingFunction: cubic-bezier(0.86, 0, 0.07, 1)) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timingFunction;
}

@mixin keyframe($name) {
  @keyframes #{$name} {
    @content;
  }
}

@include keyframe(navDownAnimation) {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -100%;
  }
}

@include keyframe(navUpAnimation) {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

.scrollToBottom {
  @include scrollAnimation(navDownAnimation);
}

.scrollToTop {
  @include scrollAnimation(navUpAnimation);
}

.hidden {
  visibility: hidden;
}

.visable {
  visibility: visible;
}
