.save-button {
  border: 1px solid var(--color-black);
  border-radius: 20px;
  width: 55px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
}
