@keyframes textGradation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container {
  position: absolute;
  z-index: var(--zIndex-overlay);

  display: flex;
  justify-content: center;
  width: 100%;
  height: 100svh;

  background: var(--color-black);
  opacity: 0.6;

  color: var(--color-white);

  .text-container {
    position: relative;
    top: 40%;
    height: fit-content;

    display: flex;
    align-items: center;
    gap: 12px;

    animation: textGradation 1.5s linear alternate-reverse infinite;
    .text {
      text-align: center;
      line-height: 24px;
    }
  }
}
