.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-white);
  z-index: var(--zIndex-navigation);

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    .navigation-text {
      font-size: 12px;
      font-weight: 500;
      margin-top: 4px;
    }
  }
}
