.picker-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .picker {
    display: flex;
    gap: 8px;
    height: 36px;

    overflow-x: scroll;
    padding-bottom: 11px;
  }

  input[type='radio'] {
    display: none;
  }

  .desc {
    font-size: 12px;
  }
}
