.tab-container {
  display: flex;
  align-items: center;
  gap: 16px;
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: var(--zIndex-above);
  background-color: var(--color-white);
  overflow-x: scroll;
  overflow-y: hidden;
  min-height: 33px;

  .tab {
    font-size: 16px;
    font-weight: 400;
    min-width: 47px;
    text-align: center;
    padding: 0;
  }

  .selected-category {
    border: 1px solid var(--color-black);
    border-radius: 50px;
    min-width: 60px;
    padding: 6px;
    background-color: var(--color-white);
  }
}
