.recommendbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .tab-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    .tab {
      border: 1px solid var(--color-black);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: var(--color-gray);
      padding: 10px 20px;
      font-size: 14px;
      font-weight: 700;
      border-bottom: none !important;
    }

    .selected-tab {
      background-color: var(--color-yellow);
      padding-bottom: -1px;
    }

    .final-tab {
      box-shadow: 1px 1px 0 var(--color-black);
    }
  }

  .context-container {
    background-color: var(--color-yellow);
    width: 100%;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    border-top-right-radius: 0;
    box-shadow: 1px 1px 0 var(--color-black);
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;

    .reload-button {
      position: absolute;
      right: 16px;
      top: 16px;
    }

    .text-area {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-weight: 700;
      justify-content: flex-start;
      width: 100%;

      .temperature-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        font-size: 20px;
      }

      .greeting-text {
        font-size: 18px;
      }

      .weather-description {
        font-size: 12px;
      }
    }

    .cody-area {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 16px;
      width: 100%;

      .cody-container {
        width: calc(calc(100% - 32px) / 3);
        aspect-ratio: 1 / 1;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--color-black);
      }

      .view-cody-container {
        border: none;
      }

      .image-container {
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        position: relative;
        border: 4px solid var(--color-white);
      }

      .view-image-container {
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        position: relative;
        border: 6px solid var(--color-purple);
      }

      .ootd {
        border: 1px solid var(--color-black);
        box-shadow: 2px 2px 0 var(--color-black);
      }
    }
  }
}
